.chat {
    flex: 0.65;
    background-color: #bdc5ff;
    justify-content: space-between;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.chat__header {
    padding: 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #414a92;
    border-radius: 20px;
    background-color: #bdc5ff;
    color: #414a92;
}

.chat__headerInfo {
    padding-left: 5px;
}

.chat__headerInfo >h3 {
    font-size: 15px;
}

.chat__headerInfo >p {
    font-size: 12px;
}

.chat__body {
    background-image: url("https://i.imagesup.co/images2/ea0cbf4d4b2fc65f5d2ad4f20fb7d239472f7a8e.png");
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    padding: 10px;
    overflow-y: scroll;
    flex: 1;
}

.chat__messgae{
    position: relative;
    font-size: 16px;
    padding: 6.5px;
    background-color: #ffffff;
    border-radius: 12px;
    width: fit-content;
    margin-bottom: 21px;
    margin-top: 15px;
    height: fit-content;
}

.chat__name {
    position: absolute;
    top: -20px;
    font-weight: 700;
    font-size: 12px;
    color: #414a92;
}

.chat__timestamp {
    margin-left: 5px;
    font-size: 8px;
    color: #414a92;
}

.chat__recievr {
    margin-left: auto;
    background-color: #414a92;
    color: #ffffff;
}

.chat__recievr >.chat__timestamp {
    margin-left: auto;
    background-color: #414a92;
    color: #ffffff;
    margin-left: 5px;
    font-size: 8px;
}

.chat__recievr >.chat__name {
    position: absolute;
    top: -20px;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-top:  1px solid #414a92;
}

.chat__footer >form{
    flex: 1;
    display: flex;
    margin: 20px;
}

.chat__footer >form >input{
    flex: 1;
    border-radius: 30px;
    border-width: 0.5px;
    padding: 8px;
}

.chat__footer >form>button{
    background-color: #414a92;
    border-radius: 20px;
    color: #ffffff;
    margin: 1px;
    height: 30px;
    border-width: 1px;
}

.icons {
    padding: 5px;
    color: #414a92;
    zoom: 1.1;
}